{% if form %}
  <form action='/results' method='post'>
    <div class="form-group">
      <label for='input'></label>
      <input name='input' id='input' type='text' class='form-control'>
    </div>
    <button type='submit' class='btn btn-success'>Submit</button>
  </form>
{% endif %}
