<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">
      <h1>Scrabble!</h1>
      <h3>Enter your word to find it's score!</h3>
      {% include '/includes/form.html.twig' %}
      {% include '/includes/message.html.twig'%}
    </div>
  </body>
</html>
